<body>
    <div class="row bg-success col-2 mx-auto q">
        <h2 class="col-12">JOIN US</h2>
        <h6 class="col-12">CURRENT OPENINGS</h6>
    </div>
    <div class="row col-8 mx-auto bg-white">
        <a href="">
            <div class="col p-2 text-dark">Operations</div>
        </a>
        <a href="">
            <div class="col p-2 text-dark">Operations</div>
        </a>
        <a href="">
            <div class="col p-2 text-dark">Operations</div>
        </a>
        <a href="">
            <div class="col p-2 text-dark">Operations</div>
        </a>
        <a href="">
            <div class="col p-2 text-dark">Operations</div>
        </a>
        <a href="">
            <div class="col p-2 text-dark">Operations</div>
        </a>
        <a href="">
            <div class="col p-2 text-dark">Operations</div>
        </a>
        <a href="">
            <div class="col p-2 text-dark">Operations</div>
        </a>
        <a href="">
            <div class="col p-2 text-dark">Operations</div>
        </a>
    </div>
    <div class="a row p-2 col-11 mx-auto">
        <a href="" class="col mr-4 ml-4 pl-4 rounded border">
            <div class="col-12 h-100 pt-4 mr-5">
                <h5 class="mb-3">Drivers Club Executive Specialist - Kerman</h5>
                <div class="row">
                    <div class="col-10">
                        Kerman, Iran, Islamic Republic of
                    </div>
                    <div class="bg-success text-white rounded">vvvvvbbbbb</div>

                </div>

            </div>
        </a>
        <a href="" class="col bg-white mr-4 ml-4 pl-4 rounded border">
            <div class="row h-100">dddd</div>
        </a>
    </div>
    <div class="a row p-2 col-11 mx-auto">
        <a href="" class="col bg-dark mr-4 ml-4">
            <div class="row h-100">
                utive Specialist - Kerman</div>
        </a>
        <a href="" class="col bg-white mr-4 ml-4">
            <div class="row h-100">dddd</div>
        </a>
    </div>
    <div class="a row bg-warning p-2 col-11 mx-auto">
        <a href="" class="col bg-dark mr-4 ml-4">
            <div class="row h-100">
                utive Specialist - Kerman</div>
        </a>
        <a href="" class="col bg-white mr-4 ml-4">
            <div class="row h-100">dddd</div>
        </a>
    </div>
</body>