<body>
    <div class="row bg-success col-2 mx-auto q">
        <h2 class="col-12">JOIN US</h2>
        <h6 class="col-12">CURRENT OPENINGS</h6>
    </div>
    <div class="row col-8 mx-auto bg-white">
        <div class="col bg-danger">a</div>
        <div class="col bg-dark">b</div>
        <div class="col bg-danger">a</div>
        <div class="col bg-dark">b</div>
        <div class="col bg-danger">a</div>
        <div class="col bg-dark">b</div>
        <div class="col bg-danger">a</div>
        <div class="col bg-dark">b</div>
        <div class="col bg-danger">a</div>
    </div>
    <div class="a row bg-warning p-2 col-11 mx-auto">
        <div class="c bg-success col ml-5 mr-5">dddd</div>
        <div class="d bg-secondary col ml-5 mr-5">dddd</div>
    </div>
    <div class="a row bg-warning p-2 col-11 mx-auto mt-2">
        <div class="c bg-success col ml-5 mr-5">dddd</div>
        <div class="d bg-secondary col ml-5 mr-5">dddd</div>
    </div>
    <div class="a row bg-warning p-2 col-11 mx-auto mt-2">
        <div class="c bg-success col ml-5 mr-5">dddd</div>
        <div class="d bg-secondary col ml-5 mr-5">dddd</div>
    </div>
</body>